<%= form_for(@divorce_with_asset) do |f| %>
  <% if @divorce_with_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@divorce_with_asset.errors.count, "error") %> prohibited this divorce_with_asset from being saved:</h2>

      <ul>
      <% @divorce_with_asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :husband_name, placeholder: "Husband Name" %>
    <%= f.text_field :husband_address, placeholder: "Husband Address" %>
    <%= f.text_field :husband_city, placeholder: "Husband City" %>
    <%= f.text_field :husband_state, placeholder: "Husband State" %>
    <%= f.text_field :husband_zip, placeholder: "Husband Zip" %>
    <%= f.text_field :husband_phone, placeholder: "Husband Phone" %>
    <%= f.text_field :husband_fax, placeholder: "Husband Fax" %>
    <%= f.text_field :husband_email, placeholder: "Wife Name" %>
    <%= f.text_field :wife_name, placeholder: "Wife Name" %>
    <%= f.text_field :wife_address, placeholder: "Wife Address" %>
    <%= f.text_field :wife_city, placeholder: "Wife City" %>
    <%= f.text_field :wife_state, placeholder: "Wife State" %>
    <%= f.text_field :wife_zip, placeholder: "Wife Zip" %>
    <%= f.text_field :wife_phone, placeholder: "Wife Phone" %>
    <%= f.text_field :wife_fax, placeholder: "Wife Fax" %>
    <%= f.text_field :wife_email, placeholder: "Wife Email" %>
    <%= f.text_field :jurisdiction, placeholder: "Jusrisdiction" %>
    <%= f.date_select :marriage_date, placeholder: "Marriage Date" %>
    <%= f.date_select :separation_date, placeholder: "Separation Date" %>
    <%= f.text_field :dissolution, placeholder: "Dissolution" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
