<p id="notice"><%= notice %></p>

<h1>Listing Divorce With Assets</h1>

<table>
  <thead>
    <tr>
      <th>Filing</th>
      <th>Husband name</th>
      <th>Husband address</th>
      <th>Husband city</th>
      <th>Husband state</th>
      <th>Husband zip</th>
      <th>Husband phone</th>
      <th>Husband fax</th>
      <th>Husband email</th>
      <th>Wife name</th>
      <th>Wife address</th>
      <th>Wife city</th>
      <th>Wife state</th>
      <th>Wife zip</th>
      <th>Wife phone</th>
      <th>Wife fax</th>
      <th>Wife email</th>
      <th>Jurisdiction</th>
      <th>Marriage date</th>
      <th>Separation date</th>
      <th>Dissolution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divorce_with_assets.each do |divorce_with_asset| %>
      <tr>
        <td><%= divorce_with_asset.filing %></td>
        <td><%= divorce_with_asset.husband_name %></td>
        <td><%= divorce_with_asset.husband_address %></td>
        <td><%= divorce_with_asset.husband_city %></td>
        <td><%= divorce_with_asset.husband_state %></td>
        <td><%= divorce_with_asset.husband_zip %></td>
        <td><%= divorce_with_asset.husband_phone %></td>
        <td><%= divorce_with_asset.husband_fax %></td>
        <td><%= divorce_with_asset.husband_email %></td>
        <td><%= divorce_with_asset.wife_name %></td>
        <td><%= divorce_with_asset.wife_address %></td>
        <td><%= divorce_with_asset.wife_city %></td>
        <td><%= divorce_with_asset.wife_state %></td>
        <td><%= divorce_with_asset.wife_zip %></td>
        <td><%= divorce_with_asset.wife_phone %></td>
        <td><%= divorce_with_asset.wife_fax %></td>
        <td><%= divorce_with_asset.wife_email %></td>
        <td><%= divorce_with_asset.jurisdiction %></td>
        <td><%= divorce_with_asset.marriage_date %></td>
        <td><%= divorce_with_asset.separation_date %></td>
        <td><%= divorce_with_asset.dissolution %></td>
        <td><%= link_to 'Show', divorce_with_asset %></td>
        <td><%= link_to 'Edit', edit_divorce_with_asset_path(divorce_with_asset) %></td>
        <td><%= link_to 'Destroy', divorce_with_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Divorce with asset', new_divorce_with_asset_path %>
