<p id="notice"><%= notice %></p>

<p>
  <strong>Filing:</strong>
  <%= @divorce_with_asset.filing %>
</p>

<p>
  <strong>Husband name:</strong>
  <%= @divorce_with_asset.husband_name %>
</p>

<p>
  <strong>Husband address:</strong>
  <%= @divorce_with_asset.husband_address %>
</p>

<p>
  <strong>Husband city:</strong>
  <%= @divorce_with_asset.husband_city %>
</p>

<p>
  <strong>Husband state:</strong>
  <%= @divorce_with_asset.husband_state %>
</p>

<p>
  <strong>Husband zip:</strong>
  <%= @divorce_with_asset.husband_zip %>
</p>

<p>
  <strong>Husband phone:</strong>
  <%= @divorce_with_asset.husband_phone %>
</p>

<p>
  <strong>Husband fax:</strong>
  <%= @divorce_with_asset.husband_fax %>
</p>

<p>
  <strong>Husband email:</strong>
  <%= @divorce_with_asset.husband_email %>
</p>

<p>
  <strong>Wife name:</strong>
  <%= @divorce_with_asset.wife_name %>
</p>

<p>
  <strong>Wife address:</strong>
  <%= @divorce_with_asset.wife_address %>
</p>

<p>
  <strong>Wife city:</strong>
  <%= @divorce_with_asset.wife_city %>
</p>

<p>
  <strong>Wife state:</strong>
  <%= @divorce_with_asset.wife_state %>
</p>

<p>
  <strong>Wife zip:</strong>
  <%= @divorce_with_asset.wife_zip %>
</p>

<p>
  <strong>Wife phone:</strong>
  <%= @divorce_with_asset.wife_phone %>
</p>

<p>
  <strong>Wife fax:</strong>
  <%= @divorce_with_asset.wife_fax %>
</p>

<p>
  <strong>Wife email:</strong>
  <%= @divorce_with_asset.wife_email %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @divorce_with_asset.jurisdiction %>
</p>

<p>
  <strong>Marriage date:</strong>
  <%= @divorce_with_asset.marriage_date %>
</p>

<p>
  <strong>Separation date:</strong>
  <%= @divorce_with_asset.separation_date %>
</p>

<p>
  <strong>Dissolution:</strong>
  <%= @divorce_with_asset.dissolution %>
</p>

<%= link_to 'Edit', edit_divorce_with_asset_path(@divorce_with_asset) %> |
<%= link_to 'Back', divorce_with_assets_path %>
