<h1><%= @user.name %></h1>
<% if @user.qualified? %>
  <p>
    You qualify for online divorce. Odalay law will contact you to guide you through the process.
  </p>
<% else %>
    <p>
      Sorry, you do not qualify for online divorce
    </p>
<% end %>


<p>
 <%= @user.email %>
</p>

<p>
Your reside in:  <%= @user.address + " " + @user.residence %>
</p>

<p>
  Date of Birth: <%= @user.date_of_birth %>
</p>

<p>
  Have you and your spouse agreed on obtaining a divorce? <%= @user.spouse_agreement ? "Yes" : "No" %>
</p>

<p>
  Do you have children under the age of 18 from this marriage? <%= @user.children ? "Yes" : "No" %>
</p>

<p>
  Can you locate your spouse? <%= @user.locate_spouse ? "Yes" : "No" %>
</p>

<p>
  Is this an uncontested divorce? <%= @user.uncontested ? "Yes" : "No" %>
</p>

<p>
  Spouse Name: <%= @user.spouse_name %>
</p>

<p>
  Spouse Date of Birth: <%= @user.spouse_dob %>
</p>

<p>
  Spouse Address: <%= @user.spouse_address %>
</p>

<p>
  Spouse email: <%= @user.spouse_email %>
</p>
